<% accounts = {} %>

<% current_user.inherited_accounts.each do |account| %>
  <% accounts[account.transmitter_id] = [] %>
<% end %>

<%#= accounts %>

<% current_user.inherited_accounts.each do |account| %>
  <% accounts[account.transmitter_id].push(account.transferable_type) %>
<% end %>

<%#= accounts %>

<% if AccountTransfer.where(:inheritor_id => current_user.id, :checked => true).present? %>
  <section class="main_first_mamory">
    <h2 class="section_header"></h2>
    <section class="cards_area">

      <div id="up2">
        <div class="banner">
          <div class="banner_img2"></div>
          <p>В разделе «Память» Вы можете посмотреть завещание <br> и наследство, которое пользователи, ушедшие из жизни оставили Вам.</p>
          <div class="close_button" id="down2"></div>
        </div>
      </div>


        <% accounts.each do |key, value| %>
        <% b = User.find(key).transfered_accounts.where(:inheritor_id => current_user.id).collect {|a| a.checked} %>
          <% if b.include?(true) %>

                <div class="card_memory">

                  <h3>Пользователь <%= User.find(key).email %> ушел из жизни</h3>

                  <div class="memory_content">


                      <% if value.include?("SocialAccount") %>
                        <div class="memory_content_account">
                          <div class="Icon" id="AccountIcon"></div>
                          <p>Аккаунты</p>
                        </div>
                      <% end %>



                      <% if value.include?("Wallet") %>
                        <div class="memory_content_account">
                          <div class="Icon" id="WalletIcon"></div>
                          <p>Кошельки</p>
                        </div>
                      <% end %>



                      <% if value.include?("Subscription") %>
                        <div class="memory_content_account">
                          <div class="Icon" id="SubscriptionIcon"></div>
                          <p>Подписки</p>
                        </div>
                      <% end %>



                      <% if value.include?("Document") %>
                        <div class="memory_content_account">
                          <div class="Icon" id="DocumentIcon"></div>
                          <p>Документы</p>
                        </div>
                      <% end %>



                      <% if value.include?("Instruction") %>
                        <div class="memory_content_account">
                          <div class="Icon" id="InstructionIcon"></div>
                          <p>Наставления</p>
                        </div>
                      <% end %>



                  </div>

                  <div class="open_button">
                    <%= link_to 'Открыть', inheritance_path(key) %>
                  </div>
                </div>
            <% end %>
        <% end %>



    </section>
  </section>

<% else %>
  <%= render "blank" %>
<% end %>

<div class="interval"></div>
