<% accounts = {} %>

<% current_user.inherited_accounts.each do |account| %>
  <% accounts[account.transmitter_id] = [] %>
<% end %>

<%#= accounts %>

<% current_user.inherited_accounts.each do |account| %>
  <% accounts[account.transmitter_id].push(account.transferable_type) %>
<% end %>

<%#= accounts %>

<% if AccountTransfer.where(:inheritor_id => current_user.id, :checked => true).present? %>
  <section class="main_first_mamory">
    <h2 class="section_header"></h2>
    <section class="cards_area">


        <% accounts.each do |key, value| %>
        <% b = User.find(key).transfered_accounts.where(:inheritor_id => current_user.id).collect {|a| a.checked} %>
          <% if b.include?(true) %>

                <div class="card_memory">

                  <h3>Пользователь <%= User.find(key).email %> ушел из жизни</h3>

                  <div class="memory_content">
                    <% if value.include?("SocialAccount") %>
                      <p>Аккаунты</p>
                    <% end %>
                    <% if value.include?("Wallet") %>
                      <p>Кошельки</p>
                    <% end %>
                    <% if value.include?("Subscription") %>
                      <p>Подписки</p>
                    <% end %>
                    <% if value.include?("Document") %>
                      <p>Документы</p>
                    <% end %>
                    <% if value.include?("Instruction") %>
                      <p>Наставления</p>
                    <% end %>
                  </div>

                  <div class="open_button">
                    <%= link_to 'Открыть', inheritance_path(key) %>
                  </div>
                </div>
            <% end %>
        <% end %>



    </section>
  </section>

<% else %>
  <%= render "blank" %>
<% end %>
