
    <% if document.present? %>
      <%# @social_accounts.each do |social_account| %>
        <%# if current_user && social_account.user_id != current_user.id %>
          <div class="card">
            <div class="previev <%= document.title %>"></div>
            <div class="card_title">
              <h4><%= document.title %></h4>
              <p class="transmitter_email"><%= document.email %></p>
            </div>

            <div class="editing">
              <div class="popup">

                  <div class="UnacceptWrapper">
                    <div class="Icon" id="UnacceptedIcon"></div>
                    <li>
                      <%= link_to 'Отклонить', unaccept_account_transfer_path(document), method: :delete, data: { confirm: 'Are you sure?'} %>
                    </li>
                  </div>
              </div>
            </div>

          </div>
        <%# end %>
    <% end %>

      <!-- <div class="card">
        <div class="card_new">
          <%#= link_to '', new_social_account_path %>
        </div>
        <div class="add"></div>
      </div> -->
