<section class="nav">
  <ul class="sidebar">
    <div class="IconWrapper">
      <div class="Icon" id="AccountIcon"></div>
      <li><a href="#s1">Ответственность</a></li>
    </div>

    <div class="IconWrapper">
      <div class="Icon" id="WalletIcon"></div>
      <li><a href="#s2">Не принятые активы</a></li>
    </div>

    <div class="IconWrapper">
      <div class="Icon" id="SubscriptionIcon"></div>
      <li><a href="#s3">Принятые активы</a></li>
    </div>

  </ul>
</section>
