<section class="nav">
  <ul class="sidebar">
    <div class="IconWrapper">
      <li><a href="#s1">Ответственность</a></li>
    </div>

    <div class="IconWrapper">
      <li><a href="#s2">Не принятые</a></li>
    </div>

    <div class="IconWrapper">
      <li><a href="#s3">Принятые</a></li>
    </div>

  </ul>
</section>
