<% @inherited_responsibilitys.each do |i| %>
  <%# appoint_responsible = i.r_transferable %>
  <%# i.r_transferable.class == AppointResponsible %>

    <% if i.accepted %>
    <% else %>
      <div class="responsibility_card">
        <div class="ResponsibilityTitleWrap">
          <h3><%= i.email %></h3>
          <div class="responsibility_action">
            <div class="responsibility_decline" href=""><%= link_to 'Отказаться', unaccept_responsibility_appoint_responsible_path(i), method: :delete %></div>
            <div class="responsibility_accept">
              <%= link_to 'Согласиться', accept_responsibility_appoint_responsible_path(i), method: :put %>
            </div>
          </div>


        </div>
      </div>
    <% end %>
  <% end %>
