<% @inherited_accounts.each do |i| %>
  <% wallet = i.transferable %>
  <% if i.transferable.class == Wallet %>

    <% if i.accepted %>
      <div class="card">
        <div class="previev <%= wallet.title %>"></div>
        <div class="TitleWrap">
          <div class="card_title"></div>
          <h4><%= wallet.title %></h4>
          <p class="transmitter_email"><%= wallet.email %></p>
        </div>

        <div class="editing">
          <div class="popup">

              <div class="UnacceptWrapper">
                <div class="Icon" id="UnacceptedIcon"></div>
                <li>
                  <%= link_to 'Отклонить', unaccept_wallet_account_transfer_path(wallet), method: :delete, data: { confirm: 'Are you sure?'} %>
                </li>
              </div>
          </div>
        </div>
      </div>
    
    <% end %>
  <% end %>
<% end %>
