<section id="s2" class="main">
  <div class="MainCardsArea">





    <% if @social_accounts.exists? && @inherited_accounts %>
      <h2 class="section_header">Аккаунты</h2>
      <section class="cards_area">
        <% @inherited_accounts.each do |inherited_account| %>
          <%#= inherited_account.accepted %>
          <%#= inherited_account.id %>

          <% partial_name = inherited_account.accepted ? 'social_account_accepted' : 'social_account_unaccepted' %>

          <%= render "#{ partial_name }", social_account: inherited_account.social_account %>
        <% end %>
      </section>
    <% else %>
      <%= render "blank" %>
    <% end %>



  </div>
</section>





<%# if inherited_account.accepted %>
  <%#= render 'social_account_unaccepted', social_account: inherited_account.social_account %>
<%# else %>
  <%#= render 'social_account_accepted', social_account: inherited_account.social_account %>
<%# end %>
