<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Вас приветствует сервис Meta! </h1>
    <p>
      Пользователь только что передал Вам наследство.
    </p>
    <p>
      Посмотрите, что Вам оставили по ссылке
      <%= @url %>.
    </p>
    <p>С уважением, команда Meta.</p>
  </body>
</html>
