<section class="cover">
  <div class="textblock">
    <div class="LogoWhite"></div>
    <h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; — веб-сервис, который <br>поможет распорядиться <br>виртуальным имуществом <br> и позаботится о  судьбе твоих <br>аккаунтов при жизни.</h1>
  </div>
  <div class="BlueBlock"></div>
  <div class="LevitateNotify"></div>
  <div class="LevitateUser"></div>
  <div class="LevitatePayPal"></div>

  <div class="imageblock">
    <div class="ImgArrow"></div>
    <div class="ImgMacBook"></div>
  </div>
</section>

<section class="MainFirst">
  <div class="FirstGroup">
    <div class="FirstGroupText">
      <h2>Ты видеоблогер?</h2>
      <p>Думал, что же станет с твоим youtube <br> каналом, когда толпа фанатов задушит тебя <br> в объятиях во время очередной сходки?</p>
    </div>
    <div class="FirstGroupImg"></div>
    <div class="illustratePartFirst"></div>
    <div class="xx"></div>
  </div>

    <div class="SecondGroup">
      <div class="SecondGroupText">
        <h2>А может ты — серьёзный <br>автор статей на Медиум <br>или Хабре и твои статьи <br>приносят доход? </h2>
        <p>Кому достанутся заработанные твоим <br>нелёгким трудом деньги, когда ты случайно <br> поскользнёшься на шкурке от банана?</p>
    </div>
    <div class="SecondGroupImg"></div>
    <div class="lupa"></div>
    <div class="xxx"></div>
  </div>

  <div class="ThirdGroup">
    <div class="ThirdGroupText">
      <h2>А может ты — модная <br>инстаграм-инфлюенсер?</h2>
      <p>Представь, что больше некому удалять <br> комментарии злобных завистников <br>и противных пикаперов под твоими <br>красивыми фоточками с постами <br>про похудение.</p>
    </div>
    <div class="ThirdGroupImg"></div>
    <div class="circle"></div>
    <div class="x"></div>
    <div class="k"></div>
  </div>

  <div class="FourthGroup">
    <div class="FourthGroupText">
      <h2>Фрилансер и держишь <br>свою зп в облаках? </h2>
      <p>Знай, все твои финансы останутся<br>есхозными, если вовремя<br>не позаботиться об их судьбе.</p>
    </div>
    <div class="FourthGroupImg"></div>
    <div class="particles"></div>
  </div>
</section>

<section class="FirstShmut">
  <div class="textblock">
    <h1> Meta присмотрит за твоим <br>виртуальным имуществом, <br>когда придёт время <br>покинуть этот мир.</h1>
  </div>
  <div class="RedBlock"></div>
  <div class="GirlWithComp"></div>
  <div class="lock"></div>
</section>

<section class="MainSecond">
  <div class="FirstGroupSecond">
    <div class="FirstGroupSecondText">
      <div class="LatterLable"></div>
      <h2>Составляй письма</h2>
      <p>Создавай наставления <br>со сканом завещания <br>и добавь получателей.</p>
    </div>
    <div class="LettersImg"></div>
  </div>

  <div class="SecondGroupSecond">
    <div class="SecondGroupSecondText">
      <div class="PenLable"></div>
      <h2>Добавляй поручения</h2>
      <p>Выбирай, что нужно сделать <br>с виртуальными активами <br>и назначай ответственных</p>
    </div>
    <div class="CardsImg"></div>
  </div>

  <div class="ThirdGroupSecond">
    <div class="ThirdGroupSecondText">
      <div class="LockLable"></div>
      <h2>Открывай артефакты</h2>
      <p>Получай доступ к виртуальным <br>активам, когда придёт время.</p>
    </div>
    <div class="ArtefactsImg"></div>
  </div>
</section>

<section class="SecondShmut">
  <div class="textblockthird">
    <h1> Выбирай ответственного <br>за свой аккаунт в Meta. <br>Хранитель аккаунта — <br> самый важный человек. <br>Он запускает механизм <br> рассылки писем для <br>передачи имущества <br>наследникам.</h1>
  </div>
  <div class="BlueBlockSecond"></div>
  <div class="LudiImg"></div>
  <div class="letter"></div>
  <div class="lillock"></div>
</section>

<section class="CallToAction">
  <div class="ActionText">
    <h3>Всё ещё думаешь?</h3>
    <h2>Создай аккаунт прямо сейчас</h2>
    <h6>Уже есть аккаунт? Войти</h6>
  </div>
  <div class="GirlImg"></div>
  <div class="palochka"></div>
  <div class="triangle"></div>
  <div class="triangletwo"></div>
</section>

<section class="footer">
  <div class="LogoBlack"></div>
  <h6>2019, Москва</h6>
</section>
