<section class="main">
  <div class="MainCardsArea">

    <p id="notice"><%= notice %></p>

    <h1>Account Transfers</h1>

    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @account_transfers.each do |account_transfer| %>
          <tr>
            <td><%#= link_to 'Show', social_account_account_transfer_path %></td>
            <td><%#= link_to 'Edit', edit_social_account_account_transfer_path(account_transfer) %></td>
            <td><%#= link_to 'Destroy', account_transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Account Transfer', new_social_account_account_transfer_path %>

  </div>
</section>
