<section class="main">
  <div class="MainCardsArea">
    <h1>New Account Transfer</h1>
    <%= render 'form', account_transfer: @account_transfer %>
    <%#= link_to 'Back', account_transfers_path %>
  </div>
</section>
