<section class="main">
  <div class="MainCardsArea">
  <p id="notice"><%= notice %></p>
    <%= link_to 'Edit', edit_account_transfer_path(@account_transfer) %> |
    <%#= link_to 'Back', account_transfers_path %>
  </div>
</section>
