<section class="uploading_page">

<h1>Добавить свидетельство о смерти</h1>
<h4>Завещание станет доступным после проверки администратором</h4>
<div class="uploader"></div>

<%= render 'form', death_certificate: @death_certificate %>

<%= link_to 'Назад', obtain_index_path %>
</section>
