<section class="main">
<h1>Свидетельство о смерти успешно сохранено</h1>

<%#= link_to 'Edit', edit_death_certificate_path(@death_certificate) %>
<%= link_to 'Вернуться на главную', obtain_index_path %>
</section>
