  <%= render 'menu' %>
<section class="main">
  <%= render 'form', wallet: @wallet %>

  <div class="back">
    <p>Назад</p>
    <%= link_to '', root_path %>
  </div>

  <div class="interval"></div>
</section>
