<% @inherited_accounts.each do |i| %>
  <% document = i.transferable %>
  <% if document.user_id == request.path.last.to_i %>

    <% if i.transferable.class == Document %>

        <div class="instruction_body">
          <p><%= document.body %></p>
        </div>

        <div class="testament">

        </div>

    <% end %>
  <% end %>
<% end %>
