<section class="main">
  <h1>Editing Appoint Responsible</h1>

  <%= render 'form', appoint_responsible: @appoint_responsible %>

  <%= link_to 'Show', @appoint_responsible %> |
  <%= link_to 'Back', appoint_responsibles_path %>
</section>
