
<section class="main">
  <div class="MainFormArea">
    <h1>New Appoint Responsible</h1>

    <%= render 'form', appoint_responsible: @appoint_responsible %>

    <%= link_to 'Back', appoint_responsibles_path %>
  </div>
</section>
