<section class="uploading_page">

  <div class="uploading_page_container">

    <div class="uploading_page_img"></div>
    <p>Свидетельство о смерти <br> успешно сохранено. Вы можете <br> вернуться <%= link_to 'на главную', obtain_index_path %> </p>

  </div>

</section>
