.uploading_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploading_page h1 {
  margin-top: 90px;
}

.uploading_page h4 {
  font-size: 18px;
  color: #666666;
  margin-bottom: 60px;
}


.uploader {
  margin: auto;
  width: 750px;
  height: 350px;
  background-image: image_url('uploader.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.uploader_doc {

}
