
.doc {
  display: inline-block;
  margin-left: 30px;
}

input[type=submit] {
  background-color: #549ffd;
  margin-top: 30px;
  height: 40px;
  width: 115px;
  border: none;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  font-family: 'Avenir Next Cyr';
  font-weight: 100;
}

.back {
  height: 40px;
  width: 115px;
  margin-left: 171px;
  margin-top: -40px;
  background-color: #D8D8D8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.back a {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}

.back p {
  color: white;
  font-size: 16px;
  font-family: 'Avenir Next Cyr';

}

input[type=file] {
  cursor: pointer;
  width: 400px;
  height: 34px;
  overflow: hidden;
  margin-bottom: 50px;
}

input[type=file]:before {
  width: 400px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  content: '+ Добавьте PDF файл c Вашим завещанием';
  color: #bbbbbb;
  display: inline-block;
  background: white;
  border: none;
  padding: 0 10px;
  text-align: left;
  font-family: 'Avenir Next Cyr';
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

textarea {
  text-decoration-color: #dfdede;
  height: 180px;
  width: 700px;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 16px;
  font-family: 'Avenir Next Cyr';
  font-weight: 100;
}

input[type=text] {
  text-decoration: #dfdede;
  height: 40px;
  width: 700px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 16px;
  font-family: 'Avenir Next Cyr';
  font-weight: 100;
  color: #767676;
}

input[type=email] {
  text-decoration: #dfdede;
  height: 40px;
  width: 700px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 16px;
  font-family: 'Avenir Next Cyr';
  font-weight: 100;
  color: #767676;
}

input[type=password] {
  text-decoration: #dfdede;
  height: 40px;
  width: 700px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 16px;
  font-family: 'Avenir Next Cyr';
  font-weight: 100;
  color: #767676;
}

.field-icon {
  width: 100px;
  height: 100px;
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
 }

select {
  background-color: white;
  text-decoration: #dfdede;
  height: 40px;
  width: 700px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Avenir Next Cyr';
  font-weight: 100;
  color: #767676;
}

.radio_button {
  line-height: 35px;
  margin-bottom: 40px;
  font-size: 16px;
  font-family: 'Avenir Next Cyr';
}

.passwordVisibilityButton {
  top: 500px;
  width: 28px;
  height: 28px;
  background-image: url(/assets/eyeopen.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
  margin-left: 655px;
  margin-top: -47px;
}

.eyeopen {
  background-image: url(/assets/eyeopen.png);
}

.eyeclose {
  background-image: url(/assets/eyeclose.png);
}

.form-group {
  position: absolute;
  margin-bottom: 100px;
}

.imguploader {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.img {
  margin-top: -100px;
}

.BodyFormSmall{
  margin-top: 100px;
}

.BodyFormBig {
  margin-top: 170px;
}

.MainFormArea {
  margin-top: 75px;
  margin-left: 10px;
}
