.data {
  margin-left: 40px;
  margin-bottom: 50px;
}

.data_area {
  margin-top: 50px;
  position: relative;
}

.data p {
  width: 735px;
  color: #666666;
}

.data h3 {
  font-size: 20px;
  margin-top: 40px;
  font-family: 'AvenirNextCyr-Regular';
  margin-bottom: -5px;
}

.previev_inheritance {
  width: 220px;
  height: 100px;
  border-radius: -2%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  margin-top: -20px;
  margin-left: 25px;
}

.link a {
  width: 220px;
  height: 118px;
  border-radius: 1%;
  margin-left: -220px;
  display: inline-flex;
  position: absolute;
}

.instruction_body {
  width: 749px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 90px;
}


.testament {
  width: 170px;
  height: 43px;
  margin-left: 40px;
  margin-top: -50px;
  margin-bottom: 90px;
  background-image: image_url('Testament.png');
  background-size: contain;
  background-repeat: no-repeat;
}



 .dead_user h3 {
  margin-left: 40px;
  color: #959595;
  margin-bottom: 40px;
 }
