.settingsbutton {
  width: 1440px;
  height: 110px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.settingsbutton p, .settingsbutton a {
  font-size: 18px;
  font-family: 'Avenir Next Cyr';
}

.transmit {
  margin-right: 25px;
}

.user {
  width: 33px;
  height: 33px;
  background-color: #CBCBCB;
  border-radius: 100%;
  right: 33px;
  margin-left: 25px;
  margin-right: 40px;
}

.SectionButton {
  margin-left: -910px;
  position: fixed;
  display: flex;
  z-index: 1;
}

.TransmitMenuButton, .ObtainMenuButton {
  width: 110px;
  height: 40px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

 .TransmitMenuButton a, .ObtainMenuButton a {
  display: block;
  right: 915px;
  top: 45px;
  width: 110px;
  height: 40px;
  padding-left: 15px;
  padding-top: 8px;
}
