.settingsbutton {
  width: 1440px;
  height: 110px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 15  ;
}

.settingsbutton p, .settingsbutton a {
  font-size: 17px;
  font-family: 'AvenirNextCyr-Light';
}

.transmit {
  margin-right: 25px;
}

.user {
  width: 30px;
  height: 30px;
  background-color: #000000;
  opacity: 0.7;
  border-radius: 100%;
  right: 33px;
  margin-left: 25px;
  margin-right: 40px;
}

.user_popup {
 display: none;
}

.user_popup_view {
  padding-left: 10px;
  padding-top: 5px;
  width: 150px;
  height: 70px;
  padding-bottom: 10px;
  margin-top: 70px;
  margin-left: -35px;
  background-color: white;
  orphans: 0.05;
  border: 1px solid #E6E8EB;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);
  // box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16),
  //  0 8px 16px rgba(27, 39, 51, 0.1);
  border-radius: 2%;
  display: block;
  position: absolute;
  font-weight: 100;
}

.logout {
  position: absolute;
  margin-top: -20px;
  margin-left: 5px;
  color: #1d2129;
  display: block;
  text-decoration: none;
}

.exitbutton {
  width: 30px;
  height: 30px;
  margin-left: 110px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-image: image_url('exit.png');
  transform: rotate(-45deg);
  background-size: contain;
  background-repeat: no-repeat;
}

// .devider {
//   position: absolute;
//   width: 130px;
//   height: 1px;
//   top: 50px;
//   background-color: #1d2129;
//   opacity: 0.2;
// }

.popup_content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.SectionButton {
  margin-left: -721px;
  position: fixed;
  display: flex;
  z-index: 5;
}

.TransmitMenuButton, .ObtainMenuButton, .MemoryMenuButton {
  display: flex;
  justify-content: flex-end;
  width: 121px;
  height: 37px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);
  border: 1px solid #F6F6F6;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-left: 20px;
  border-radius: 3%;
}

 .TransmitMenuButton a, .ObtainMenuButton a, .MemoryMenuButton a {
  display: flex;
  right: 915px;
  top: 45px;
  width: 110px;
  height: 40px;
  padding-left: 23px;
  padding-top: 7px;
  z-index: 5;
}

.MemoryMenuButton a {
  padding-left: 31px;
}

.AppointMenuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: #649DF4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-left: 378px;
  border-radius: 3px;
  margin-right: -580px;
}

.AppointMenuButton a {
  width: 200px;
  height: 40px;
  padding-top: 16px;
  padding-left: 14px;
  color: white;
}


.red_point {
  height: 24px;
  width: 24px;
  background-color: #FF5959;
  border-radius: 50%;
  position: absolute;
  margin-left: 274px;
  margin-top: -7px;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.red_point p {
  font-size: 13px;
  position: absolute;
  color: white;
  margin-top: 3px;
  font-family: 'AvenirNextCyr-Light';
}
