.nav {
  width: 310px;
  position: fixed;
}

.sidebar {
  margin-top: 160px;
}

.sidebar li {
  line-height: 37px;
}

.sidebar a {
  font-size: 18px;
  font-family: 'AvenirNextCyr-Regular';
}


.logo {
  width: 110px;
  height: 110px;
  background-image: url(/assets/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: -1317px;
  margin-top: 31px;
}


ul {
  list-style-type: none;
}
