.nav {
  width: 310px;
  position: fixed;
}

.sidebar {
  margin-top: 160px;
  width: 131px;
}

.sidebar li {
  line-height: 37px;
}

.sidebar a {
  margin-left: 5px;
  font-size: 15px;
  font-family: 'AvenirNextCyr-Regular';
}

 .BlankSpace {
   height: 20px;
 }

.logo {
  width: 110px;
  height: 110px;
  background-image: image_url('logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: -1315px;
  margin-top: 31px;
}

ul {
  list-style-type: none;
}
