  body {
  margin: auto;
}

p {
  font-family: 'Avenir Next Cyr';
  font-size: 14px;
  line-height: 19px;
}

a {
  color: black;
  // color: #666;
  font-size: 11px;
  text-decoration: none;

  &:hover {
    color: #3A8BDF;
  }
}

.field_with_errors {
  padding: 2px;
  display: table;
}

#error_explanation {
    margin: 20px 0 10px 0;
    font-weight: normal;
    text-align: left;
    background: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 2px #ddd;
    box-shadow: 0 2px 2px #ddd;


  ul {
    margin-top: 0px;
    padding: 15px;
    color: #f55;
    font-size: 13px;
    font-family: 'Avenir Next Cyr';
    font-weight: normal;
    line-height: 1.5;
    list-style: disc;
    vertical-align: baseline;
    border: 0;
  }

  li {
    margin: 5px 0 0 20px;
    list-style: disc;
  }

  h2 {
    padding: 10px 20px;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    margin: 0;
    background: #f55;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: 'Avenir Next Cyr';
    font-weight: normal;
  }
}

h1 {
  font-size: 32px;
  margin: auto;
  font-family: 'Avenir Next Cyr';
  font-weight: normal;
}

h2 {
   font-size: 32px;
   font-family: 'Avenir Next Cyr';
   margin: auto;
   font-weight: 500;
   color: inherit;
 }

 h3 {
   font-size: 18px;
   margin-top: 40px;
   font-family: 'Avenir Next Cyr';
   font-weight: 400;
 }

 h4 {
   font-size: 16px;
   font-weight: lighter;
   font-family: 'Avenir Next Cyr';
 }

 .section_header {
   margin-left: 40px;
 }

.MainCardsArea{
  margin-top: 75px;
}

.main {
  padding-left: 270px;
  padding-top: 80px;
}

.cards_area {
  width: 100%;
  margin-top: 50px;
  position:relative;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 220px;
  height: 150px;
  border-radius: 2%;
  position: relative;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-left: 40px;
  margin-bottom: 40px;
  display: inline-flex;
  min-width: 0%
}

.card_new {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

.card_new a, .edit a, .delete a {
 height: 100%;
 width: 100%;
 z-index: 1;
 display: block;
}

.add {
  height: 45px;
  width: 45px;
  background-image: image_url('add.png');
  background-size: cover;
  margin-left: 48%;
  transform: translateX(-50%);
  margin-top: 52px;
}

.delete {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background-image: image_url('delete.png');
  background-size: cover;
  margin-left: 195px;
  position: absolute;
  display: none;
}

.edit {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 195px;
  position: absolute;
  background-image: image_url('edit.png');
  background-size: cover;
  display: none;
}

.editing {
  width: 20px;
  height: 20px;
  margin-top: 110px;
  margin-left: -20px;
  background-image: url(/assets/editing.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.card:hover .edit, .card:hover .delete  {
  display:block;
}

.card:hover {
  box-shadow: 0 2px 12px rgba(0,0,0,0.25);
}

.previev {
  width: 230px;
  height: 105px;
  border-radius: -2%;
  margin-top: -3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image_url('Paypal.png');
}

.card_title {
  margin-top: 85px;
  margin-left: 10px;
  position: absolute;
}

.interval {
  height: 105px;
}

.custom-file-upload {
  margin-bottom: -40px;
}

.IconWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  &:hover {
    color: #3A8BDF;
  }
}

.Icon  {
  width: 26px;
  height: 26px;
  margin-top: 3px;
  margin-right: 7px;
  background-size: contain;
  background-repeat: no-repeat;
}

#DocumentIcon {
  background-image: url(/assets/DocumentIcon.png);

  &:hover {
    background-image: url(/assets/DocumentIconActive.png);
  }
}

#WalletIcon {
  background-image: url(/assets/WalletIcon.png);

  &:hover {
    background-image: url(/assets/WalletIconActive.png);
  }
}

#AccountIcon {
  background-image: url(/assets/AccountIcon.png);
}
