.session {
  display: flex;
  flex-direction: row;
}

.session_logo {
  position: fixed;
  width: 110px;
  height: 110px;
  background-image: url(/assets/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 28px;
  margin-top: 16px;

}

.session_login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
  margin-left: -360px;
  margin-top: 110px;
}

.session_image {
  position: fixed;
  margin-top: 350px;
  height: 500px;
  width: 760px;
  background-image: url(/assets/session_login.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.session_actions_login {
  height: 40px;
  width: 330px;
  background-color: #3A8BDF;
}

.sign_up {
  width: 200px;
  height: 300px;
  font-size: 32px;
  font-family: 'AvenirNextCyr-Light';
  margin-top: 200px;
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: yellow;
}

.sign_up a {
  font-size: 16px;
  font-weight: 100;
}

h5 {
  font-size: 32px;
  font-family: 'AvenirNextCyr-Regular';
  margin-top: 200px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: inherit;
}

input#user_email {
  width: 330px;

}

input#user_password {
  width: 330px;
}

input#user_password_confirmation {
  width: 330px;
}

input.Enter_Password {
  width: 330px;
}

.passwordVisibilityButtonSession{
  width: 28px;
  height: 28px;
  background-image: url(/assets/eyeopen.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
  margin-left: 285px;
  margin-top: -47px;
}

.eyeopen {
  background-image: url(/assets/eyeopen.png);
}

.eyeclose {
  background-image: url(/assets/eyeclose.png);
}

input.EnterButton {
  width: 330px;
}
