.previev_unaccepted {
  width: 220px;
  height: 105px;
  margin-top: -1px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image_url('unaccepted.png');
  position: absolute;
}
