.previev_unaccepted {
  width: 230px;
  height: 105px;
  border-radius: -2%;
  margin-top: -3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image_url('unaccepted.png');
  position: absolute;
}
