
.Instagram {
  background-image: image_url('Instagram.png');
  background-size: contain;
}

.Facebook {
  background-image: image_url('Facebook1.png');
  background-size: contain;
}

.Tumblr {
  background-image: image_url('Tumbler1.png');
  background-size: contain;
}

.Twitter {
  background-image: image_url('Twitter.png');
  background-size: contain;
}

.YouTube {
  background-image: image_url('Youtube.png');
  background-size: contain;
}

.PayPal {
  background-image: image_url('Paypal.png');
  background-size: contain;
}

.Qiwi {
  background-image: image_url('Qivi.png');
  background-size: contain;
}

.Webmoney {
  background-image: image_url('Webmoney.png');
  background-size: contain;
}

.YandexMoney {
  background-image: image_url('Yandexmoney.png');
  background-size: contain;
}

.AppleMusic {
  background-image: image_url('AppleMusic.png');
  background-size: contain;
}


.Netflix {
  background-image: image_url('Netflix.png');
  background-size: contain;
}

.Steam {
  background-image: image_url('Steam.png');
}
