<% @transfered_accounts.each do |t| %>
  <% instruction = t.transferable %>

  <% if t.transferable.class == Instruction %>
      <div class="card">
        <div class="previev2 <%= instruction.title %>"></div>
        <div class="TitleWrap">
          <div class="card_title"></div>
          <h4><%= instruction.title %></h4>
        </div>

        <div class="editing_transmit">
          <div class="popup_transmit">
              <div class="EditWrapper">
                <div class="Icon" id="EditIcon"></div>
                <li>
                  <%= link_to 'Редактировать', edit_instruction_path(instruction) %>
                </li>
              </div>
              <div class="TrashWrapper">
                <div class="Icon" id="TrashIcon"></div>
                <li>
                  <%= link_to 'Удалить', instruction, method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
              </div>
          </div>
        </div>
      </div>
  <% end %>

<% end %>
