<section class="nav">
  <ul class="sidebar">
    <div class="IconWrapper">
      <div class="Icon" id="AccountIcon"></div>
      <li><a href="#s1">Аккаунты</a></li>
    </div>

    <div class="IconWrapper">
      <div class="Icon" id="WalletIcon"></div>
      <li><a href="#s2">Кошельки</a></li>
    </div>

    <div class="IconWrapper">
      <div class="Icon" id="SubscriptionIcon"></div>
      <li><a href="#s3">Подписки</a></li>
    </div>

    <div class="BlankSpace"></div>

    <div class="IconWrapper">
      <div class="Icon" id="DocumentIcon"></div>
      <li><a href="#s4">Документы</a></li>
    </div>

    <div class="IconWrapper">
      <div class="Icon" id="InstructionIcon"></div>
      <li><a href="#s5">Наставления</a></li>
    </div>
  </ul>
</section>
