<section class="main">

<h1>Editing Responsibility Transfer</h1>

<%= render 'form', responsibility_transfer: @responsibility_transfer %>

<%= link_to 'Show', @responsibility_transfer %> |
<%= link_to 'Back', responsibility_transfers_path %>


</section>
